{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Articles</h1>

    {#<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ article.picture }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>#}



    <div class="col-md-10 mx-auto">

    <h1>{{ article.title }} </h1>
        {% if article.picture is empty%}
                        <img class="col-md-3" src="{{ asset('build/images/default.webp') }}" alt="{{article.title}}" title="{{article.title}}">
        {% else %}
                        <img class="col-md-3" src="{{ asset('build/images/' ~ article.picture)}}" alt="{{article.title}}" title="{{article.title}}">
        {% endif %}
        
    <p> {{ article.description }} </p>

    <a class="btn btn-info" href="{{ path('app_article_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}

{% endblock %}
